.center {
  text-align: center;
}

h2 {
  font-weight: 300;
  color: #f9a65d;
}

h3,
h4 {
  font-weight: 300;
}

.spaceT10 {
  margin-top: 10px;
}

.spaceT25 {
  margin-top: 25px;
}

.spaceB10 {
  margin-bottom: 10px;
}

.spaceB25 {
  margin-bottom: 25px;
}

.spaceL10 {
  margin-left: 10px;
}

#header {
  height: 90px;
  padding: 10px 0;
}

#header ul {
  margin-top: 40px;
}

#header ul a {
  font-size: 17.5px;
  color: #f9a65d;
}

#header li {
  padding: 0 20px;
}

#preorder {
  text-align: center;
}

#nos-produits table th,
#nos-produits table td {
  font-size: 17.5px;
  text-align: center !important;
}

#nos-produits table.popular {
  border: 1px solid #f9a65d;
}

#nos-produits table.popular td {
  border-color: transparent;
}

#nos-produits h3.popular  {
  color: #f9a65d;
}

#faq a {
  color: #f9a65d;
}

#nos-atouts i {
  font-size: 125px;
}

#contact i {
  font-size: 100px;
}